.svn/
.git/
.npm/
.cache/
OME/
nodejs/
node_modules/
.tmp/
tmp/
temp/
dist/
www/
dll/
coverage/
.next/
.idea
*.log
*.tmp
*.swp
*.swo
*.swn
*.pid
*.seed
.DS_Store
Thumbs.db
$RECYCLE.BIN/
/npm-debug.log.*
/src/typings/tsd/
/typings/
/tsd_typings/
/.awcache
.idea/
*.swp
android-sdk-linux/
gradle-*/
.gradle/
build/
project.xcworkspace/
xcuserdata/
android/android.iml
android/chainz-wuliang-1.0.1-arm64-v8a-release.apk
android/chainz-wuliang-1.0.1-armeabi-release.apk
android/chainz-wuliang-1.0.1-armeabi-v7a-release.apk
android/chainz-wuliang-1.0.1-mips-release.apk
android/chainz-wuliang-1.0.1-mips64-release.apk
android/chainz-wuliang-1.0.1-universal-release.apk
android/chainz-wuliang-1.0.1-x86-release.apk
android/chainz-wuliang-1.0.1-x86_64-release.apk
android/gradle/
android/gradlew
android/gradlew.bat
*.apk
hybrid/platforms
hybrid/plugins
hybrid/.sourcemaps
